@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&display=swap');

/* style.css */
/* Programmé par Julie Beausoleil */
/* Dernière modification: 28 novembre 2020 */

body {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Cairo', sans-serif;
    background-image: url("../media/moroccan-flower-dark.png");
    background-color: lightslategrey;
}

p {
    font-size: 1em;
    color: lightskyblue;
    text-align: justify;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.5em;
}
h1, h2 {
    color: lightsteelblue;
    text-align: center;
}
a {
    color: lightskyblue;
    text-decoration: none;
}
a:visited {
    color: darkcyan;
}
a:hover {
    text-decoration: underline;
}
img {
    width: 300px;
    border-radius: 2em;
}
img:hover {
    box-shadow: #333333 6px 6px;
}
table {
    display: block;
    margin: auto;
    border-style: dotted;
    border-width: 2px;;
    border-color: slategrey;
    text-align: center;
}
table caption {
    font-size: 2em;
    color: lightcyan;
    
}
table th {
   font-size: 1.5em;
   color: lightcyan;
}

table td {
   font-size: 1em;
   color: rgb(149, 167, 167);
}
li {
    color: lightskyblue;
}