@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700;900&display=swap');


:root {
    --orange: #f05f40;
    --gris: #aaaaaa;
    --noir: #000000;
    --bleu: #2f6298;
    --blanc: #ffffff;


}

* {
    box-sizing: border-box;
}

.orange {
    background-color: var(--orange);


}

.bleu {
    background-color: var(--bleu);
    height: 100px;

}

.noir {
    background-color: var(--noir);
    height: 100px;

}

.blanc {
    background-color: var(--blanc);
    height: 20px;

}

.gris {
    background-color: var(--gris);
    height: 20px;

}

img#aigle {
    width: 25%;
}

h2 {
    font-size: 1rem;
}

button#likebutton {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
}


button#likebutton i {
    line-height: 1rem;


}